<div class="component-container">

  <h1>{{playerinfo.name}} </h1>

  <mat-list>
    <h3 subHeader> Multipliers</h3>
    <mat-list-item> {{playerinfo.dblPickaxeMulti}} mining speed (click) multiplier</mat-list-item>
    <mat-list-item> {{playerinfo.dblPondMulti}} imbue speed (click) multiplier</mat-list-item>

    <h3 subHeader> Resources</h3>
    <mat-list-item>{{playerinfo.intEmptyCrystals}} empty crystals</mat-list-item>
    <mat-list-item>{{playerinfo.intWaterCrystals}} water crystals</mat-list-item>
    <mat-list-item>{{playerinfo.intFireCrystals}} fire crystals</mat-list-item>  
    <mat-list-item>{{playerinfo.intWindCrystals}} wind crystals</mat-list-item>
    <mat-list-item>{{playerinfo.intEarthCrystals}} earth crystals</mat-list-item>
    <mat-divider></mat-divider>
    

  </mat-list>



</div>